.square {
  background-color: #ffffcc;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squareR {
  background-image: url(../image/water.png);
  background-size: 70px, 50px;
  background-color: transparent;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squareB {
  background-color: #99cccc;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squareA {
  background-color: #ccffcc;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: 510px;
  height: 510px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 5px solid lightblue;
}

.resultBarRight {
  width: 130px;
  height: 490px;
  position: fixed;
  left: 1000px;
  top: 185px;
  background: lightblue;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 8px 0;
}
.resultBarLeft {
  width: 130px;
  height: 490px;
  position: fixed;
  left: 300px;
  top: 185px;
  background: lightblue;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 8px 0;
}

.stat {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.button {
  background-color: lightsteelblue;
  color: #fff;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}
