.App {
  background-color: #ffffff;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.Home {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  line-height: 40px;
  font-size: 16px;
  background-color: #ffffff;
  border-width: 1px;
}

.pageHeader {
  position: absolute;
  display: block;
  background: lightblue;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.link {
  color: #fff;
  font-weight: 800;
  display: block;
  padding: 20px 30px;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.link:hover,
link:active {
  background-color: lightblue;
}

.notes {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.form {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.inputBox {
  width: 100%;
  padding: 6px 10px;
  border: 2px solid darkslategray;
  border-radius: 4px;
}

.input {
  border: none;
  width: 100%;
  border-bottom: 2px solid darkslategray;
}

.playBotton {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password {
  font-family: caption;
  -webkit-text-security: disc;
  -moz-text-security: disc;
  -webkit-text-security: disc;
}

.buttonDE {
  background: darkred;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 12px;
  cursor: pointer;
  float: right;
}
.submitButton {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
